@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
:root {
    --color-titulo: rgb(36, 55, 131);
    --color-subtitulo: rgb(45, 84, 192);
    --texto: rgb(151, 135, 135);
    --fuente: 'Rubik', sans-serif;
    --grosor-texto: 500;
    --tamanio-titulo: 4.5rem;
    --tamanio-text-options: 1.4rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}

p {
    padding: 0;
}

a {
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 120rem;
    /** = 1200px; **/
    margin: 0 auto;
}


/*GLOBALES*/

.btn_option {
    color: #fff;
    background: var(--color-subtitulo);
    text-decoration: none;
    padding: 1.5rem 3.5rem;
    border-radius: 5px;
}

.s-line {
    line-height: 0;
}

.s-p {
    margin: 0;
    padding: 0;
}

.align-center {
    align-items: center;
}

.m-section {
    margin-top: 8rem;
    height: 100vh;
}

.margen {
    margin: 8rem 0;
}

.margen-l-r {
    margin-left: 2rem;
    margin-right: 2rem;
}

.w-card {
    width: 80%;
}

.padding-card {
    padding: 2rem 1rem;
}

.font-z3 {
    font-size: 2rem;
    color: var(--color-titulo);
    font-weight: 500;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.j-center {
    flex-direction: column;
    justify-content: center;
}

.d-grid {
    display: grid;
}

.d-around {
    display: flex;
    justify-content: space-between;
}

.d-column {
    display: block;
    /* flex-direction: column; */
}

.title-2 {
    color: var(--color-titulo);
    font-size: 3.5rem;
}

.content-50 {
    width: 50%;
}

.content-80 {
    width: 80%;
}

.icon-options {
    color: var(--color-titulo);
    font-size: 4rem;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.t-align {
    text-align: center;
}

.t-align-left {
    text-align: left;
}

.c-pointer {
    cursor: pointer;
}


/*HEADER*/

header {
    padding: 2rem 3rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.651);
}

.div_navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_links>.link {
    display: inline-block;
    margin-right: 3.5rem;
}

.navigation_links>link:last-of-type {
    margin-right: 0;
}

.link>a {
    text-decoration: none;
    color: var(--texto);
    font-weight: var(--grosor-texto);
}

.logo {
    color: var(--color-subtitulo);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
}


/*CONTENIDO PRINCIPAL*/

.section_contenido {
    max-height: 100vh;
    /* position: relative; */
}

.div_principal {
    padding-top: 17rem;
}

.section_principal {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .div_contenido {
        min-width: 100%;
    }
    .section_principal {
        flex-direction: column;
    }
    .div_texto {
        min-width: 100%;
    }
    .div_options_subtitle {
        flex-wrap: wrap;
        margin: 0;
    }
}

.div_contenido {
    padding-left: 12rem;
    max-width: 60%;
}

.contenido {
    padding: 0 2rem;
}

.title {
    font-size: var(--tamanio-titulo);
    color: var(--color-titulo);
    padding: 0;
    margin: 0;
}

.div_texto {
    padding: 0;
    max-width: 50%;
}

.texto {
    color: var(--texto);
    font-weight: var(--grosor-texto);
    line-height: 1.8;
    font-size: 1.8rem;
}

.div_options {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    align-items: center;
}

.texto_options {
    color: var(--color-titulo);
    font-weight: var(--grosor-texto);
    padding-right: 1rem;
    font-size: var(--tamanio-text-options);
}

.div_options>i {
    color: yellow;
}

.texto_info {
    color: var(--color-titulo);
    /* font-size: 1.7rem; */
    font-weight: 700;
}

.subtitle_option {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1rem;
}

.subtitle_option i {
    margin-right: 1.2rem;
    color: var(--color-titulo);
}

.div_info {
    margin-top: 3rem;
}

.div_options_subtitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.651);
    /* position: absolute;
    bottom: 2rem;
    left: 15rem; */
    box-shadow: -1px 15px 30px -12px black;
    border-radius: 5px;
    /* padding: 0 8rem; */
    margin-left: 5rem;
}

.div_option_info {
    padding: 2.2rem 0;
}

.div_option_info:last-of-type {
    margin-right: 0;
}

.div_option_info .option_text_div {
    padding-left: 2rem;
}

.option_text_div {
    color: var(--color-titulo);
    /* font-size: 1.7rem; */
    font-weight: 700;
    font-size: 1.8rem;
}


/*SECTION VACUNAS*/

.div_img>img {
    max-width: calc(22.5% - 1rem);
    margin-right: 3rem;
}


/* .div_img>img:last-of-type {
    margin-right: 0;
} */

.t-texto {
    font-size: 1.6rem;
    color: var(--texto);
    font-weight: 500;
    line-height: 1.5;
}


/* #caja {
    width: 100%;
    margin: auto;
    display: none;
    background: #000;
    box-shadow: 10px 10px 3px #D8D8D8;
} */

.divVisible {
    display: block;
}

.divHidden {
    display: none;
}


/*SECTION CONTACTO */

.div_contacto {
    padding-left: 15rem;
}

.column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column-2>i {
    margin: 0;
    padding: 0;
}

.column-card {
    display: block;
}

.t-center {
    margin: 0 auto;
}

.p-card {
    margin: 3rem 2rem;
}

.border-card {
    background-color: rgba(255, 255, 255, 0.651);
    box-shadow: -1px 15px 30px -12px black;
    border-radius: 5px;
}

.border-azul {
    background-color: rgba(52, 106, 255, 0.322);
    box-shadow: -1px 15px 30px -12px black;
    border-radius: 5px;
    padding: 1rem 1rem;
    width: 80%;
    margin: 1rem 0;
    color: var(--color-titulo);
    font-weight: bold;
}


/*section links contacto*/

.contact {
    margin-right: 10rem;
}

.section_contact_info {
    margin-top: 8rem;
    background-color: rgba(52, 106, 255, 0.082);
    width: 100%;
    padding: 4rem 0;
}

.contact_links>p {
    color: var(--texto);
    font-weight: var(--grosor-texto);
    line-height: 1;
    font-size: 1.8rem;
}


/*FOOTER*/

.footer {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 0;
}